@import "variables";
.sectionContacto {
    display: flex; 
    flex-direction: column;
    gap: 0.1em;
    margin: $marginSections;
    background-color: $col4;
    border-radius: $border;
    padding: 0.5em 1.5em ;
    align-items: center;
    #botoncontacto {
        margin-top: 0.5em;
    }   
    .placeholder__form{
        input {
            padding-left: 4%;
            color: $col3;
            width: 15em;
            height: 2em;
            border: 2px solid $col2;
            border-radius: $border;
            outline: none;
        }
    }
}


