@import "variables";

/* NAV PRODUCTOS */

.sectionProductos {
    display: flex; 
    flex-direction: column;
    gap: 0.1em;
    margin: $marginSections;
    background-color: $col4;
    border-radius: $border;
    padding: 0.5em 1.5em ;

    .menu {

        #flechaAtras{
            display: flex;
            align-items: center;

            .bi-box-arrow-in-left {
                color: $col3;
                
            }
            
        }

    }
}

/* GALERIA */

.galeriacontainer {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-row-gap: 1.3em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .card {
        width: 18rem;
    }
  
}


