@import "index";
@import "contacto";
@import "comollegar";
@import "productos";
@import "variables";
/* GENERALES */
*{
    padding: 0;
    margin: 0;       
}
body{
    background-color: $col1; 
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
    border-radius: $border;
    margin: 0.5em;
    background-color: $col4;
    .logo__img {
        padding: 0.3em 0.3em;
    } 
}
/* BARRA BUSCADORA */
.header__barra {   
    input {
        padding-left: 4%;
        color: $col3;
        width: 35em;
        height: 2em;
        border: 2px solid $col2;
        border-radius: 50px;
        outline: none;
    }
}
/* MENU NAVEGACION */
.menu {
    display: flex;
    list-style: none;
    gap: 1em;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    transition: 0.1s ease all;
    .menu__item{
        text-decoration: none;
        color: $col2;
    }       
}
.menu :hover{
    color: $col3;
    transform: scale(1.03);   
}
/* FOOTER */
    .footer{
        display: flex;
        justify-content: space-between;
        margin:$marginSections;
        align-items: center;
        margin-top: auto;        
        .logo__footer{
            a{
                img{ 
                    @include tamaños (auto,100px)
                }
            }
        }
        .footer__menu{
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            gap: 2em;
            .menu__item{
                font-size: 1.3em;
                text-decoration: none;
                color: $col3;
                &:hover{
                    color: $col2; //intente añadir un transform: scale(1.03); pero no pude, investigue por internet, hasta con chatgpt y no pude con esto, si no es mucha molestia me gustaria entender por que no me funciono :) //                    
                }                   
            }                     
        }       
        .footer__redes{
            a{
                text-decoration: none;
                margin-right: 1em;
                img{
                    @include tamaños (auto,50px);                   
                }
            }
        }
    }
/* BS */
 .btn-primary{
    --bs-btn-color: #{$col4};
    --bs-btn-bg: #{$col1};
    --bs-btn-border-color: #{$col1};
    --bs-btn-hover-color: #{$col4};
    --bs-btn-hover-bg: #{$col2};
    --bs-btn-hover-border-color: #{$col2};
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #{$col4};
    --bs-btn-active-bg: #{$col2};
    --bs-btn-active-border-color: #{$col2};
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #{$col4};
    --bs-btn-disabled-bg: #{$col1};
    --bs-btn-disabled-border-color: #{$col1};
}
/* media queries */
/* MD 768px BS */
@media (max-width: 768px){
    /* GENERALES */
    .header{     
        .logo{
            a{
                img{
                    @include tamaños (auto,60px)                        
                }
            }        
        }
        .header__barra{
            input{
                width: 15em;              
                font-size: 13px;
            }
        }
        .menu{
            font-size: 13px;
            padding: 0px;
        }
    }
    .footer{
        .logo__footer{
            a{
                img{
                    @include tamaños(170px,auto) 
                }
            }
        }
        .footer__menu{
            gap: 1em;
            .menu__item{
                font-size: 17px;
            }
        }
        .footer__redes{
            a{
                img{
                    @include tamaños (auto,23px);
                }
            }
        }
    }
    /* INDEX */
    .centro{
        .centro__contenedor{
            .centro__img{
                @include tamaños (auto,200px)
            }
        }
    }
    .sectionIndex{
        .industria{
            .industria__img{
                @include tamaños(75px,auto)
            }
            .industria__text{
                font-size: 1.5em;   
            }
        }   
    }
    /* PRODUCTOS */
    .galeriacontainer {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 2px;
        .card {
            width: 15rem;
        }
    }
    .sectionProductos{
        .divh1modal{
            .btn{
                --bs-btn-font-size: 1rem;
            }
        }
    }
    /* COMO LLEGAR */
    #mapa{
        @include tamaños(auto,540px)
    }
}   
@media (max-width: 576px){
    /* SM 576px BS */
    /* GENERALES */
    .header{
        .logo{
            a{
                img{
                    @include tamaños (auto,45px)
                }
            }
        }
        .header__barra{
            input{                            
                font-size: 10px;
            }
        }
        .menu{
            font-size: 10px;           
        }
    }
    .footer{
        .logo__footer{
            a{
                img{
                    @include tamaños(130px,auto) 
                }
            }
        }
        .footer__menu{
            .menu__item{
                font-size: 11px;
            }
        }
        .footer__redes{
            a{
                img{
                    @include tamaños (auto,18px);
                }
            }
        }
    }
    /* INDEX */
    .centro{
        .centro__contenedor{
            .centro__img{
                @include tamaños (auto,160px)
            }
        }
    }
    .sectionIndex{
        .industria{
            .industria__img{
                @include tamaños(50px,auto)
            }
            .industria__text{
                font-size: 1.5em;   
            }
        }   
    }
    /* PRODUCTOS */
    .galeriacontainer {
        grid-template-columns: repeat(2, 1fr);
        .card {
            width: 14rem;
        }
    }
}


