/* variables */
/* CENTRO DE PAGINA */
.centro {
  display: flex;
  justify-content: center;
  margin: 0em 0.5em 0.5em 0.5em;
  padding: 1em;
  background-color: #ffffff;
  border-radius: 3px;
}

/* INDUSTRIA URUGUAYA */
.industria {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0em 0.5em 0.5em 0.5em;
  border-radius: 3px;
  background-color: #ffffff;
}
.industria .industria__img {
  width: 100px;
  height: 66px;
}
.industria .industria__text {
  font-size: 2em;
  font-weight: bold;
  color: #1e665c;
  margin: 0;
}

/* QUIENES SOMOS */
.quienes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0em 0.5em 0.5em 0.5em;
  border-radius: 3px;
  padding: 0.5em;
  background-color: #ffffff;
}
.quienes .quienes__titulo {
  color: #1e665c;
  margin: 0;
}
.quienes .quienes__texto {
  color: #1e665c;
  font-size: 1.2em;
  margin: 0;
}

/* variables */
.sectionContacto {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  margin: 0em 0.5em 0.5em 0.5em;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 0.5em 1.5em;
  align-items: center;
}
.sectionContacto #botoncontacto {
  margin-top: 0.5em;
}
.sectionContacto .placeholder__form input {
  padding-left: 4%;
  color: #000000;
  width: 15em;
  height: 2em;
  border: 2px solid #1e665c;
  border-radius: 3px;
  outline: none;
}

/* variables */
#mapa {
  align-items: center;
}
#mapa .iframemapa {
  width: 100%;
  height: 550px;
}

/* variables */
/* NAV PRODUCTOS */
.sectionProductos {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  margin: 0em 0.5em 0.5em 0.5em;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 0.5em 1.5em;
}
.sectionProductos .divh1modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sectionProductos .divh1modal .btn {
  --bs-btn-font-size: 1.5rem;
  --bs-btn-bg: #1e665c;
  --bs-btn-hover-bg:#1accb3;
}
.sectionProductos .divh1modal div div .modal-body img {
  width: 100%;
  height: auto;
}
.sectionProductos .divh1modal div div .modal-footer .btn {
  --bs-btn-font-size: 1rem;
  --bs-btn-bg: #a7b6b4;
  --bs-btn-hover-bg:#1e665c;
}
.sectionProductos .menu #flechaAtras {
  display: flex;
  align-items: center;
}
.sectionProductos .menu #flechaAtras .bi-box-arrow-in-left {
  color: #000000;
}

/* GALERIA */
.galeriacontainer {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-gap: 1.3em;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  padding-top: 20px;
  justify-content: center;
}
.galeriacontainer .card {
  width: 18rem;
  transition: 0.1s ease all;
}
.galeriacontainer .card:hover {
  transform: scale(1.05);
}

/* MODAL OFERTA BS */
/* variables */
/* GENERALES */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #a7b6b4;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  border-radius: 3px;
  margin: 0.5em;
  background-color: #ffffff;
}
.header .logo__img {
  padding: 0.3em 0.3em;
}

/* BARRA BUSCADORA */
.header__barra input {
  padding-left: 4%;
  color: #000000;
  width: 35em;
  height: 2em;
  border: 2px solid #1e665c;
  border-radius: 50px;
  outline: none;
}

/* MENU NAVEGACION */
.menu {
  display: flex;
  list-style: none;
  gap: 1em;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  transition: 0.1s ease all;
}
.menu .menu__item {
  text-decoration: none;
  color: #1e665c;
}

.menu :hover {
  color: #000000;
  transform: scale(1.03);
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0em 0.5em 0.5em 0.5em;
  align-items: center;
  margin-top: auto;
}
.footer .logo__footer a img {
  width: auto;
  height: 100px;
}
.footer .footer__menu {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 2em;
}
.footer .footer__menu .menu__item {
  font-size: 1.3em;
  text-decoration: none;
  color: #000000;
}
.footer .footer__menu .menu__item:hover {
  color: #1e665c;
}
.footer .footer__redes a {
  text-decoration: none;
  margin-right: 1em;
}
.footer .footer__redes a img {
  width: auto;
  height: 50px;
}

/* BS */
.btn-primary {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #a7b6b4;
  --bs-btn-border-color: #a7b6b4;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #1e665c;
  --bs-btn-hover-border-color: #1e665c;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #1e665c;
  --bs-btn-active-border-color: #1e665c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: #a7b6b4;
  --bs-btn-disabled-border-color: #a7b6b4;
}

/* media queries */
/* MD 768px BS */
@media (max-width: 768px) {
  /* GENERALES */
  .header .logo a img {
    width: auto;
    height: 60px;
  }
  .header .header__barra input {
    width: 15em;
    font-size: 13px;
  }
  .header .menu {
    font-size: 13px;
    padding: 0px;
  }
  .footer .logo__footer a img {
    width: 170px;
    height: auto;
  }
  .footer .footer__menu {
    gap: 1em;
  }
  .footer .footer__menu .menu__item {
    font-size: 17px;
  }
  .footer .footer__redes a img {
    width: auto;
    height: 23px;
  }
  /* INDEX */
  .centro .centro__contenedor .centro__img {
    width: auto;
    height: 200px;
  }
  .sectionIndex .industria .industria__img {
    width: 75px;
    height: auto;
  }
  .sectionIndex .industria .industria__text {
    font-size: 1.5em;
  }
  /* PRODUCTOS */
  .galeriacontainer {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2px;
  }
  .galeriacontainer .card {
    width: 15rem;
  }
  .sectionProductos .divh1modal .btn {
    --bs-btn-font-size: 1rem;
  }
  /* COMO LLEGAR */
  #mapa {
    width: auto;
    height: 540px;
  }
}
@media (max-width: 576px) {
  /* SM 576px BS */
  /* GENERALES */
  .header .logo a img {
    width: auto;
    height: 45px;
  }
  .header .header__barra input {
    font-size: 10px;
  }
  .header .menu {
    font-size: 10px;
  }
  .footer .logo__footer a img {
    width: 130px;
    height: auto;
  }
  .footer .footer__menu .menu__item {
    font-size: 11px;
  }
  .footer .footer__redes a img {
    width: auto;
    height: 18px;
  }
  /* INDEX */
  .centro .centro__contenedor .centro__img {
    width: auto;
    height: 160px;
  }
  .sectionIndex .industria .industria__img {
    width: 50px;
    height: auto;
  }
  .sectionIndex .industria .industria__text {
    font-size: 1.5em;
  }
  /* PRODUCTOS */
  .galeriacontainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .galeriacontainer .card {
    width: 14rem;
  }
}/*# sourceMappingURL=main.css.map */